*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Poppins;
    background-color: aliceblue;
}
.products {
  padding: 60px 80px;
}
.products-header {
  margin-bottom: 40px;
}

.sub-title {
  color: #999;
  font-size: 14px;
}

.products-header h2 {
  font-size: 32px;
  margin: 8px 0;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.product-card h3 {
  font-size: 16px;
  margin: 12px 0 6px;
}

.price {
  color: #e63946;
  font-weight: bold;
  margin-bottom: 6px;
}

.rating {
  font-size: 14px;
  color: #f4a261;
}

.rating span {
  color: #666;
}