*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: aliceblue;
}
.header {
    padding-top: 200px;
    padding-left: 100px;
display: flex;
justify-content: flex-start;
}
.card-item {
    background-color: azure;
    border-radius: 12px;
    padding: 100px;
    display:flex;
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(0,0,0,0.06);
}
.card {
    border: 1px solid rgb(120, 114, 114);
    width: 374px;
    height: 617px;
    border-radius: 12px;
}
.card img{
    padding: 25px;
    width: 335px;
    height: 239px;
}
.first{
    display: flex;
    justify-content: space-between;
    color: black;
    opacity: 0.5;
    padding:25px;
}
.title {
    color:aquamarine;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    padding-left: 25px ;
}

.content {
     padding: 25px ;
}
.infomation {
    display: flex;
    justify-content: space-around;
}
.info img {
    border-radius: 60%;
    size: 20px;
    font-size: 20px;
}
.price {
  display: flex;
}
.price span{
    color: beige;
}