*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
    
}

.container{
    text-align: center;
    width: 60%;
    height: 150px;
    border: 1px solid;
    color: black;
    
}
.container .header{
    background-color: aqua;
    color: black;
    text-align: center;
    padding-top: 20px; 
    padding-bottom: 20px;
}
.container .main{
    padding-top: 20px;
    font-style: italic;
}
