body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7f6;
}
.services {
   display: flex;
    gap: 30px;
    padding: 40px 20px;
}
.service-card {
    background: white;
    width: 260px;
    padding: 25px 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.service-card h3 {
    color: #1ec0ff;
    margin-bottom: 12px;
}

.service-card p {
    color: #666;
    font-size: 14px;
    line-height: 1.5;
}
