*{
   margin: 0;
   padding: 0;
}
.header {
            background-color: #33ff00; 
            padding: 20px 10px;
        }

        .header h1 {
            
            font-size: 42px;
            font-weight: bold;
            color: #000;
        }

        .header p {
            margin-top: 8px;
            font-size: 20px;
            font-style: italic;
            color: #000;
        }
