*{
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
    
}
.footer{
text-align: center;
background-color: rgb(120, 131, 248);
padding-bottom: 5px;
}
.footer p{
    color: aliceblue;
}