body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f5f7fa;
        }
        .service-section {
            padding: 30px;
            background-color: #d5d7d9;
        }

        .service-title {
            color: #1e90ff;
            font-size: 26px;
            text-align: center;
            margin-bottom: 5px;
        }

        .service-desc {
            text-align: center;
            color: #333;
            margin-bottom: 25px;
        }
        .service-list {
            max-width: 500px;
        }
        .service-list ul {
            list-style-type: none;
            padding-left: 0;
        }
        .service-list li {
            font-size: 16px;
            color: #000;
        }
      