*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}
.feedback-container {
            width: 400px;
            margin: 40px auto;
            text-align: center;
        }
        .feedback-title {
            color: #1e90ff;
            font-size: 28px;
            font-weight: bold;
        }
        label {
            text-align: left;
            font-size: 16px;
        }
        input, textarea {
            font-size: 15px;
            border: 1px solid #1e90ff;
            margin-bottom: 20px;
        }
        textarea {
            height: 100px;
            resize: vertical;
        }
        button {
            background-color: #00bcd4;
            color: white;
            border: none;
            padding: 10px ;
        }