* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  background: #fff;
  width: 100%;
  max-width: 420px;
  padding: 32px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 8px;
}

.desc {
  text-align: center;
  color: #555;
  margin-bottom: 28px;
}
label { 
    display: block;
  font-size: 14px;
  margin-bottom: 6px;
 
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 16px;
  outline: none;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.options a {
  color: #0d6efd;
  text-decoration: none;
  font-size: 14px;
}
button {
  width: 100%;
  padding: 14px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 16px;
}

button:hover {
  background: #0b5ed7;
}

.register {
  text-align: center;
  font-size: 14px;
}

.register a {
  color: #0d6efd;
  text-decoration: none;
}

