* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f5f7fb;
}
.stats {
  padding: 60px 40px;
  text-align: center;
}

.stats h2 {
  font-size: 32px;
  margin-bottom: 40px;
}
.stats-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}
.stat-card {
  background: #fff;
  width: 220px;
  padding: 30px 20px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-card b {
  font-size: larger;
  width: 48px;
  margin-bottom: 16px;
}

.stat-card h3 {
  font-size: 36px;
  color: #6c63ff;
  margin: 10px 0;
}

.stat-card p {
  color: #666;
  font-size: 15px;
}
@media (max-width: 1024px) {
  .stat-card {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .stats {
    padding: 40px 20px;
  }

  .stat-card {
    width: 100%;
  }

  .stats h2 {
    font-size: 26px;
  }
}
