*{
margin:0;
padding:0;
font-family:  Arial, sans-serif;
}
.header {
    height: auto;
    background-color: #0ea5e9;
    color:white;
    text-align: center;
    border-bottom: 12px;
    padding:10px;
    margin-bottom: 15px;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}
.header h1{
padding:10px;

}
header p{
padding:10px;

}
.menu {
    background-color: #E0F2FE;
    text-align: center;
}
.menu a{
     background-color: #0999f9;
     color: aliceblue;
}
.menu a:hover{
    background-color: #dae4e9; 
    color: rgb(24, 129, 220);
}
.content {
    width: 100%;
    height: 50px;
    margin:30px;
}
.section {
    background-color: #E0F2FE;
    margin:30px;
    width: 100%;
    height: 50px;
    box-shadow: #0999f9;
}

.footer {
   background-color: black;
    color: aliceblue;
    position: relative;
    top:200px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
