* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f8f9fc;
}
.pricing {
    max-width: 1200px;
    margin: 70px auto;
    padding: 0 20px;
    text-align: center;
}

.badge {
    display: inline-block;
    background: #eef2ff;
    color: #4f46e5;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 12px;
}

.pricing h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.desc {
    color: #666;
    margin-bottom: 50px;
}

.pricing-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.card {
    background: white;
    border-radius: 14px;
    padding: 30px;
    width: 100%;
    max-width: 360px;
}


.price {
    font-size: 32px;
    font-weight: bold;
    color: #4f46e5;
    margin: 20px 0;
}

.price span {
    font-size: 14px;
    color: #888;
}

.contact {
    font-size: 28px;
}
.card ul {
    list-style: none;
    text-align: left;
    margin-bottom: 30px;
}

.card li {
    margin-bottom: 12px;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.btn-outline {
    background: transparent;
    border: 1px solid #4f46e5;
    color: #4f46e5;
}

.btn-primary {
    background: #2563eb;
    border: none;
    color: white;
}


.highlight {
    border: 2px solid #4f46e5;
    transform: scale(1.05);
}

/* ===== Responsive ===== */
@media (max-width: 992px) {
    .pricing-list {
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .pricing h1 {
        font-size: 26px;
    }

    .highlight {
        transform: scale(1);
    }
}
