* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.footer {
    background: linear-gradient(180deg, #0f172a, #020617);
    color: #cbd5f5;
    padding: 60px 20px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;

    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-col {
    flex: 1;
    min-width: 200px;
}

.footer-col h3 {
    color: white;
    margin-bottom: 15px;
}

.logo {
    color: #818cf8;
    margin-bottom: 15px;
}

.footer-col p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}


.footer-col ul {
    list-style: none;
}

.footer-col li {
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
}

.footer-col li:hover {
    color: white;
}
.social {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.social span {
    background: #1e293b;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.social span:hover {
    background: #4f46e5;
}
.footer-bottom {
    border-top: 1px solid #1e293b;
    margin-top: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    font-size: 14px;
}


@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        gap: 30px;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }
}
