* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f8f9fc;
}

.faq {
    max-width: 900px;
    margin: 70px auto;
    padding: 0 20px;
    text-align: center;
}

.badge {
    display: inline-block;
    background: #eef2ff;
    color: #4f46e5;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 12px;
}

.faq h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.desc {
    color: #666;
    margin-bottom: 40px;
}
.faq-list {
    text-align: left;
}

.faq-item {
    background: white;
    border-radius: 10px;
    margin-bottom: 16px;
  
    border: 1px solid #eee;
}


.faq-question {
    padding: 18px 20px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.faq-item.active .faq-question {
    background: #6366f1;
    color: white;
}

.icon {
    font-size: 18px;
}

.faq-answer {
    padding: 18px 20px;
    font-size: 15px;
    color: #444;
    line-height: 1.6;
}

.faq-item.active .faq-answer {
    display: block;
}

