*{
    margin:0;
    padding :0;
    color: #92400e;
    font-family: 'Courier New', Courier, monospace;
}
.Header h1{
 text-align: center;
 font-size: 20px ;
 padding-top: 15px;
 background-color:  #fde68a;
 color: rgb(78, 74, 74);
}
.Navbar {
text-align: center;
background-color: #fed7aa;
}
.Navbar a{
    background-color: #fed7aa;
}
.Navbar a:hover{
    background-color: #fed7aa;
}
.image{
    text-align: center;
}
.content{
    background-color: #fed7aa;

}
.content h2 {
   color: #78350f;
}
.content p{
    color: black;
}
.service ul li {
    background-color: #e6f5f0;
    color: black;
}
.service ul li:hover {
    background-color: #e6f5f0;  
    color: #fed7aa;              
    border-left: 4px solid #fed7aa ;
}

.footer{
    background-color: #78350f;
}
.footer p{
    text-align: center;
    color:aliceblue;
}