
.card-item {
    width: 420px;
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    font-family: Arial, sans-serif;
}

.header {
    position: relative; 
    margin-bottom: 16px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: #222;
    margin-right: 120px; 
}


.momment {
    position: absolute;
    top: 0;
    right: 0;
    background: #ffe6b3;
    color: #b36b00;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
}


.section {
    margin-bottom: 12px;
    font-size: 15px;
    color: #444;
}


.doctor {
    font-size: 15px;
}


.price {
    font-size: 16px;
    font-weight: bold;
}


.progress {
    width: 100%;
    height: 10px;
    background: #eaeaea;
    border-radius: 10px;
    margin: 10px 0 14px;
}


.progress-bar {
    width: 70%;
    height: 100%;
    background: #2dff00;
    border-radius: 10px;
}

