* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
    background-color: #C0392B;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    padding: 0 320px;;
}

.center{
    color: #C0392B;
    text-align: center;
    margin-top: 12px;
}
.list-link {
    display: flex;
    gap: 20px;
}

.link{
    color: white;
    text-decoration: none;
}
.menu {
    display: flex;
    justify-content: center;
    margin-top: 40px;

}
.description {
    margin-right: 25px;
    margin-top: 130px;
}


.list-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #EEEEEE;
    border-radius: 10px;
}

.card img{
    border-radius: 3px;
}

.price {
    color: #C0392B;
    padding-bottom: 10px;
    font-weight: bold;
    
}
.footer {
    background-color: #2C2C2C;
    height: 78px;
    text-align: center;
    line-height: 78px;
    color: white;
}