* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header {
        background-color: rgb(236, 93, 53);
       width: 100%;
       height: 70px;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
}
.header nav{
    display: flex;
        gap: 30px;
        margin-top:20px;
        margin-right: 100px;
}
.header a{
    justify-content:space-between;
    
}
.logo {
    color: aliceblue;
    justify-content: flex-start;
    font-size: 50px;
    margin-left: 30px;
     margin-top:10px;

}
.content {
    display: flex;
    align-items: center;
}
.dish {
    display: flex;
    
}
.image {
width: 475;
height: 365.3800048828125;
opacity: 1;
left: 525px;
border-radius: 8px;

}
.menu {

}
.item {
}
.footer {
    width: 100%;
    max-height: 100px;
   justify-content: center;
   align-items: center;
     background: #3c2f2f;
    color: #fff;
}
