*{
    margin:0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.Header h1{
 text-align: center;
 font-size: 20px ;
 padding-top: 15px;
 background-color: aquamarine;
 color: rgb(78, 74, 74);
}
.navbar {
padding: 1px;
background-color: rgb(233, 233, 240);
text-align: center;
font-size: 15px;
font-weight: bold;
}
.navbar a{
    margin:15px 0;
}
.image{
    padding-top: 20px;
    text-align: center;
    background-color: rgb(236, 236, 240);
}
.content {
    width: 100%;
    
    background-color: #ffffff;
    padding: 20px 30px;
    border: 1px solid #ddd;
}
.service {
    width: 100%;
  
    background-color: #ffffff;
    padding: 20px 30px;
    border: 1px solid #ddd;
}


.content h2,
.service h2 {
    color: #0a7c5a;             
    border-bottom: 2px solid #0a7c5a;
    padding-bottom: 5px;
    margin-top: 0;
}


.content p {
    color: #333;
    line-height: 1.6;
}


.service ul {
    padding-left: 20px;
}

.service ul li {
    margin: 8px 0;
    color: #000;

}
.service ul li:hover {
    background-color: #e6f5f0;  
    color: #0a7c5a;              
    border-left: 4px solid #0a7c5a;
}
.footer {
    background-color: #0a7c5a;   
    color: #ffffff;
    text-align: center;
    padding: 15px 10px;
    font-size: 14px;
}

.footer p {
    margin: 5px 0;
}