body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4fbfb;
}

.header {
    background-color: #d9fff6;
    text-align: center;
    padding: 15px;
}

.header h1 {
    margin: 0;
    color: #0b6f5c;
}
.navbar {
padding: 1px;
background-color: rgb(233, 233, 240);
text-align: center;
font-size: 15px;
font-weight: bold;
}
.navbar a{
    margin:15px 0;
}
navbar a:hover{
    background-color: #e6f5f0;  
    color: #06e09f;              
    border-left: 4px solid  #06e09f;
}

.container {
    width: 300px;
    margin: 30px auto;
    text-align: center;
}
.container label {
    font-weight: bold;
    color: #0b6f5c;
}


.container input,
.container select,
.container textarea {
    width: 100%;
    margin: 6px 0 15px;
    padding: 6px;
    border: 1px solid #888;
    box-sizing: border-box;
}

.container button {
    background-color: #0b8c7c;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

.container button:hover {
    background-color: #08695d;
}


.footer {
    background-color: #0b6f5c;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 14px;
}