*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.menu {  
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px;
    gap:20px;
}
.food_name {
    font-weight: bold;
    text-align: center;
    width: 200px;
}
img{
    width: 200px;
    height: 150px;
    border-radius: 16px;
}