*{
    padding :0;
    margin :0;
    box-sizing: border-box;
}
.flex-container{
    width: 100%;
    height: 500px;
    background-color: aqua;
    display:flex;  /*thuộc tính bắt buộc phải có trong flex  */
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}
.flex-item{
    width:200px;
    height: 200px;
    background-color: red;
    border:1px solid blue;
}
.flex-item-1 {
    order: 3;
    flex-shrink: 1;
}
.flex-item-2 {
    order:2;
}
.flex-item-3 {
    order:6;
}
.flex-item-4 {
    order:4;
}
.flex-item-5 {
    order:5;
}

