*{
    padding :0;
    margin:0;
    box-sizing: border-box;
}
.menu {
    background-color: antiquewhite;
    display: flex;
    gap: 10px;
}
.item {
    width: 180px;
    text-align: center;
}
.item img {
    width: 100%;
    height: 120px;
    border-radius: 14px;
}
.item p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}
